h1,
p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Header*/

#logo {
  font-weight: 600;
  font-size: medium;
  border: 1px solid whitesmoke;
  display: inline;
  padding-left: 0 px;
  text-align: justify;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

li {
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  padding: 12px 14px;
  display: block;
}

/*main*/

.main-image {
  width: 30%;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
