/* Header*/
header {
  grid-area: header;
  margin: 0;
}
#header-pic {
  max-width: 100%;
  margin: 0%;
}
#logo {
  font-weight: 600;
  font-size: medium;
  border: 1px solid whitesmoke;
  display: inline;
  padding-left: 0 px;
  text-align: justify;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

li {
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  padding: 12px 14px;
  display: block;
}
